.font {
color: #164c60;
}

.navItem {
    text-decoration: none;
    opacity: 0.75;
    color: black;
    
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

a {
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
    text-decoration: none;
}

html {
    font-family: "Josefin Sans";
}

nav {
 list-style: none;
}

.phoneHeader {
    height: 35px;
    width: 100%;
    background-color: #164c60;
    font-weight: 500;
    
}

#button {
   padding: 10px 17px;
   border-radius: 25px;
   color: white;
   background-color: #164c60;
   margin-left: 310px;
   margin-top: 20px;
}

#callNumber {
    margin-left: 60em;
    color: #f7f7f7;
    padding-top: 5px;
    
}

#logo {
height: 160px;
width: 300px;
margin-top: 10px;
margin-bottom: 18px;
margin-right: 33px;

}

header {
height: 300px;
text-align: center;
padding-top: 10px;
border-bottom: solid black 1px;


} 


header nav {
    display: flex;
    justify-content: center    
    
} 

 li { 
    margin: 20px;
   padding-bottom: 25px;
   margin-bottom: 15px;
}


/* Header => Body stylings */

.jumbotron {
    color: white;
    background-image: url(/assets/images/websiteimages01/HandrailSpray.png);
    background-position: center;
    font-family: "Josefin Sans";
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .jumbotron1 {
    color: white;
    background-image: url(/assets/images/fusion-medical-animation-EAgGqOiDDMg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .jumbotron2 {
    color: white;
    background-image: url(/assets/images/joel-mott-7zODz1HMHK4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .jumbotronContact {
    color: white;
    background-image: url(/assets/images/websiteimages01/OpenSign.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh; 
  }


  .h1Container{
padding-left: 135px;
padding-top: -15px;

  }

  #disenfectGuy {
    margin-left: auto;
    margin-right: auto;    
    display: block;
      
  }


  .containerServices {
      padding-top: 90px;
    text-align: center;

      
  }

  .contactContainer {
    padding-top: 20px;
    margin-left: 850px;
    font-size: 22px;
    
  }

#contactP {
    padding-right: 50px;
}

  #laP {  
      font-size: 20px;
      padding-left: 162px;
      text-align: center;

     
}

#covidP {
    padding-left: 140px;
}

  .covid-19-p {
      padding-bottom: 15px;
      margin-right: 35px;
      margin-bottom: 30px;
      padding-left: 500px;
      font-size: 22px;
  }

  blockquote {
      padding-left: 160px;
  }

  .covid-services-p {
      padding-top: 50px;
    padding-left: 650px;
    font-size: 22px;
  }

  li h3 {
      font: white;
  }

  .aboutUs {
      margin: auto 0;
  }

  hr {
      width: 1100px;
      background-color: #164c60;
      margin: auto;
      margin-top: 40px;

  }

  section h3.aboutUs {
    text-transform: capitalize;
    font: bold 32px "Josefin Sans";
    margin-bottom: 30px;
    text-align: center;
  }

  .aboutUsP {
      text-align: center;
      
  }

  hr {
      text-align: center;
  }

  #smileGirl {
      height: 500px;
      width: 900px;
      display: block;
      justify-content: center;
  }


  #containerMain {
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 5px; 
    height: 170px;
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    background-color: #164c60;
    list-style: none;
  }

  #infographic {
      height: 800px;
      width: 800px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
  }

  #h2Video {
      text-align: center;
      margin-top: 40px;
  }

  iFrame {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
  }

  h2 {
      font-weight: 700;
  }
  
  #containerServicesOffered {
      border: 2px solid black;
      border-radius: 25px;
      padding-left: 30px;
      padding-top: 5px; 
      height: 325px;
      width: 800px;
      margin: 0 auto;
      font-size: 16px;
      color: white;
      background-color: #164c60;
      list-style: none;
      
  }

li {
    font-size: 16px;;
    list-style: none;
}

  .servicesLi {
      line-height: 1em;
  }

  #safeHeart {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 35px;
      font: 32px;
  }

  /* contact page */

  #contacth1 {
    align-content: center;
    text-align: center;
    margin-top: 40px;
}

footer {
    height: 75px;
    width: 100%;
    background-color: 
    #164c60;
    color: white;
}

.footerName {
    text-align: center;
    padding-top: 37px;
}

  /* Contact page */

  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


  
  #feedback-page{
      text-align:center;
  }
  
  #text-feedback{
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      background-color:white;
      text-align:center;
  }
  
  #form-main{
      width:100%;
      float:left;
      padding-top:30px;
     padding-left: 200px;
  }
  
  #form-div {
      background-color: #164c60;
      padding-left:35px;
      padding-right:35px;
      padding-top:35px;
      padding-bottom:50px;
      width: 450px;
      float: left;
      left: 50%;
      position: absolute;
      margin-left: -260px;
  }
  
  .feedback-input {
      opacity:0.9;
      color:#8dcaee;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight:400;
      font-size: 18px;
      border-radius: 0;
      line-height: 22px;
      background-color: #fbfbfb;
    border: 3px solid #fbfbfb;
      padding: 13px 13px 13px 54px;
      margin-bottom: 10px;
      width:100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .feedback-input:focus{
      background: #fff;
      box-shadow: 0;
      border: 3px solid #8dcaee;
      color: black;
      outline: none;
    padding: 13px 13px 13px 54px;
  }
  
  .focused{
      color:#8dcaee;
      border:#8dcaee solid 3px;
  }
  
  /* Icons ---------------------------------- */
  #name{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #name:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 8px 5px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #email{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #email:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #comment{
      background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
      background-color:white;
  }
  
  #button-blue{
      font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
      float:left;
      width: 100%;
      border: #fbfbfb solid 4px;
      cursor:pointer;
      background-color: #8dcaee;
      color:white;
      font-size:24px;
      padding-top:22px;
      padding-bottom:22px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #button-blue:hover{
      background-color: rgba(0,0,0,0);
      color: #8dcaee;
  }
      
  .submit:hover {
      color: #8dcaee;
  }
      
  .ease {
    border-top:3px #3c3c3c solid;
      width: 0px;
      height: 76px;
      background-color: #fbfbfb;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -o-transition: .3s ease;
      -ms-transition: .3s ease;
      transition: .3s ease;
  }
  
  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
  
  @media only screen and (max-width: 580px) {
      #form-div{
          left: 3%;
          margin-right: 3%;
          width: 88%;
          margin-left: 0;
          padding-left: 3%;
          padding-right: 3%;
      }
  }