.font {
color: #164c60;
}

.navItem {
    text-decoration: none;
    opacity: 0.75;
    color: black;
    
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

a {
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
    text-decoration: none;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 75px;
}

html {
    font-family: "Josefin Sans";
    height: 100%;
}

ul, nav {
 list-style: none;
}

.phoneHeader {
    height: 35px;
    width: 100%;
    background-color: #164c60;
    font-weight: 500;
    
}

#button {
   padding: 10px 17px;
   border-radius: 25px;
   color: white;
   background-color: #164c60;
   margin-left: 310px;
   margin-top: 20px;
}

#callNumber {
    margin-left: 60em;
    color: #f7f7f7;
    padding-top: 5px;
    
}

#logo {
height: 160px;
width: 300px;
margin-top: 10px;
margin-bottom: 18px;
margin-right: 33px;

}

header {
height: 300px;
text-align: center;
padding-top: 10px;
border-bottom: solid black 1px;


} 


header nav {
    display: flex;
    justify-content: center    
    
} 



 li { 
    margin: 20px;
   padding-bottom: 25px;
   margin-bottom: 15px;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    


}

.grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    border: 1px #164c60 solid;

}

.grid li.small {
    flex-basis: 25%;

}

.grid li.large {
    flex-basis: 50%;
    
}

/* Header => Body stylings */

.jumbotron {
    color: white;
    background-image: url(/assets/images/shutterstock/hero.jpg);
    background-position: center;
    font-family: "Josefin Sans";
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .jumbotron1 {
    color: white;
    background-image: url(/assets/images/fusion-medical-animation-EAgGqOiDDMg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .jumbotron2 {
    color: white;
    background-image: url(/assets/images/joel-mott-7zODz1HMHK4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .jumbotronContact {
    color: white;
    background-image: url(/assets/images/CheerfulOffice.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh; 
  }

  .jumbotronVenue {
    color: white;
    background-image: url(/assets/images/facility.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh; 
  }


  .h1Container{
padding-left: 135px;
padding-top: -15px;

  }

  #disenfectGuy {
    margin-left: auto;
    margin-right: auto;    
    display: block;
    height: 432px;
    width: 768px;
      
  }


  .containerServices {
      padding-top: 90px;
    text-align: center;

      
  }

  .contactContainer {
    padding-top: 20px;
    margin-left: 550px;
    font-size: 22px;
    
  }

.venueH1 {

font-size: 34px;
padding-top: 35px;
padding-left: px;
font-weight: 900;
padding-right: 120px;
  }

  .containerVenue{
padding-left: 70px;
text-shadow: black;
  }

  .facilityDesc {
      margin-top: 40px;
  }

#contactP {
    padding-right: 50px;
}

  #laP {  
      font-size: 20px;
      padding-left: 162px;
      text-align: center;

     
}

#covidP {
    padding-left: 140px;
}

  .covid-19-p {
      padding-bottom: 15px;
      margin-right: 35px;
      margin-bottom: 30px;
      padding-left: 500px;
      font-size: 22px;
  }

  blockquote {
      padding-left: 160px;
  }

  .covid-services-p {
      padding-top: 50px;
    padding-left: 650px;
    font-size: 22px;
  }

  li h3 {
      font: white;
  }

  .aboutUs {
      margin: auto 0;
  }

  hr {
      width: 1100px;
      background-color: #164c60;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;

  }

  section h3.aboutUs {
    text-transform: capitalize;
    font: bold 32px "Josefin Sans";
    margin-bottom: 30px;
    text-align: center;
  }

  .aboutUsP {
      text-align: center;
      
  }

  hr {
      text-align: center;
  }

  #smileGirl {
      height: 500px;
      width: 900px;
      display: block;
      justify-content: center;
  }


  #containerMain {
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 5px; 
    height: 170px;
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    background-color: #164c60;
    list-style: none;
  }

  #infographic {
      height: 800px;
      width: 800px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
  }

  #h2Video {
      text-align: center;
      margin-top: 40px;
  }

  iframe {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
  }

  h2 {
      font-weight: 700;
  }

  #containerGeneral{
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 30px; 
    height: 170px;
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    background-color: #164c60;
    list-style: none;
    margin-bottom: 50px; 
  }

  
    #containerServicesOffered {
    
      margin: 0 auto;
      font-size: 16px;
      color: white;
      background-color: #164c60;
      list-style: none;
      margin-bottom: 50px; 
      
      
  }  

  .ulList {
      
        border: 2px solid black;
      border-radius: 25px;
      padding-left: 30px; 
      padding-top: 10px;
      height: 700px;
      width: 800px;
      margin: 0 auto;
      font-size: 16px;
      color: white;
      background-color: #164c60;
      list-style: none;
      margin-bottom: 50px;
  }

  .ulListOther {

    border: 2px solid black;
    border-radius: 25px;
    padding-left: 30px; 
    padding-top: 10px;
    height: 700px;
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    background-color: #164c60;
    list-style: none;
    margin-bottom: 50px;
    float: right;
    
  }
  #covidTitle {
      text-align: center;
      font-weight: bold;
  }

  #deepClean {
      text-align: center;
      font-weight: bold;

  }



li {
    font-size: 18px;;
    list-style: none;
}

  .servicesLi {
      line-height: 1em;
  }

  #safeHeart {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 35px;
      font: 32px;
  }

  /* contact page */

  #contacth1 {
    align-content: center;
    text-align: center;
    margin-top: 40px;
    color: #164c60;
}

footer {
    height: 77px;
    width: 100%;
    background-color: 
    #164c60;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    

}

.footerName {
    text-align: center;
    padding-top: 37px;
}

#coverageMap {
    margin-left: auto;
    margin-right: auto;   
    margin-bottom: 40px; 
    display: block;
    height: 450px;
    width: 900px;
    border: 2px solid #164c60;
    
}



  /* Contact page */

  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


  
  #feedback-page{
      text-align:center;
  }
  
  #text-feedback{
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      background-color:white;
      text-align:center;
  }
  
  #form-main{
      width:100%;
      float:left;
      padding-top:30px;
     padding-left: 200px;
  }
  
  #form-div {
      background-color: #164c60;
      padding-left:35px;
      padding-right:35px;
      padding-top:35px;
      padding-bottom:50px;
      width: 450px;
      float: left;
      left: 50%;
      position: absolute;
      margin-left: -240px;
      margin-bottom: 50px;
  }
  
  .feedback-input {
      opacity:0.9;
      color:black;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight:400;
      font-size: 18px;
      border-radius: 0;
      line-height: 22px;
      background-color: #fbfbfb;
    border: 3px solid #fbfbfb;
      padding: 13px 13px 13px 54px;
      margin-bottom: 10px;
      width:100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .feedback-input:focus{
      background: #fff;
      box-shadow: 0;
      border: 3px solid #8dcaee;
      color: black;
      outline: none;
    padding: 13px 13px 13px 54px;
  }
  
  .focused{
      color:#8dcaee;
      border:#8dcaee solid 3px;
  }
  
  /* Icons ---------------------------------- */
  #name{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #name:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 8px 5px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #email{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #email:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #comment{
      background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
      background-color:white;
  }
  
  #button-blue{
      font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
      float:left;
      width: 100%;
      border: #fbfbfb solid 4px;
      cursor:pointer;
      background-color: #8dcaee;
      color:white;
      font-size:24px;
      padding-top:22px;
      padding-bottom:22px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #button-blue:hover{
      background-color: rgba(0,0,0,0);
      color: #8dcaee;
  }
      
  .submit:hover {
      color: #8dcaee;
  }
      
  .ease {
    border-top:3px #3c3c3c solid;
      width: 0px;
      height: 76px;
      background-color: #fbfbfb;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -o-transition: .3s ease;
      -ms-transition: .3s ease;
      transition: .3s ease;
  }
  
  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
  
  @media only screen and (max-width: 580px) {
      #form-div{
          left: 3%;
          margin-right: 3%;
          width: 88%;
          margin-left: 0;
          padding-left: 3%;
          padding-right: 3%;
      }
  }

  /* Media Queries */

  @media screen and (max-width:1356px){
    #callNumber {
        margin-left: 100px;
    }
  }


  @media screen and (max-width:1199px){
      #button {
          padding-left: 15px;
          margin-left: 190px;
      }

      hr{
        width: 900px;
      }
  }

  @media screen and (max-width:991px){
      h1.display-4 {
          padding-left:0;
          padding-right: 0px;
            font-size: 32px;
            font-weight: bold;;
            margin-left: -90px;
        }

    

    p#covidP {
        margin-left: -90px;
        padding-left: 0;
        font-size: 18px;

  }

  blockquote {
      margin-left: -90px;
      padding-left: 0;
      font-size: 18px;

  }

  #button {
      margin-left: -90px;
  }

  hr {
      width: 600px;
  }

  @media screen and (max-width:991px){

    h1.laH1 { 
        margin-right: 0px;
        margin-left: 10px;
    }

    .covid-services-p {
        margin-left: 175px;
        padding-left: 450px;
    }

    #coverageMap {
        width: 700px;
    }
    

}


@media screen and (max-width:899px){
    .covid-services-p {
        margin-left: 100px;
        padding-left: 200px;
    }

.servicesH3 {
        font-size: 32px;
        padding-left: 200px;
    }


    #servicesP {
        font-size: 18px;
        margin-left:100px;
        padding-left: 100px;
    }


}

@media screen and (max-width:825px){
    #servicesP {
margin-right: 100px;
    }

}

  @media screen and (max-width:825px){
  
    #containerMain {
        width: 550px;
        padding-left: 10px;
        height: 215px;
    }

    #infographic {
        width: 499px;
        height: 500px;
    }

    h1.laH1 {
        font-size: 28px;
        margin-right: 0px;
    }

    div.ulList {
        margin-left: 100px;
    }

    .ulListOther {
        margin-top: ;
        margin-right: 400px;
    }

    hr {
        width: 450px;
    }

    #containerGeneral {
        width: 550px;
        padding-left: 10px;
        height: 240px;
    }
}



  @media screen and (max-width:768px){
    h1.display-4 {
        margin-left: -300px;
    }
    
    p#covidP {
        margin-left: -300px;
    }

    blockquote {
        margin-left: -300px;
    }

    #button {
        margin-left: -300px;
    }

    h1.laH1 {
        margin-left: 0px;
    }

        .covid-services-p {
            margin-left: 100px;
            padding-left: 160px;
        }
    
    .servicesH3 {
            font-size: 32px;
            padding-left: 0px;
            margin-left: 100px;
        }
    
    
        #servicesP {
            font-size: 18px;
            margin-left: 100px;
            padding-left: 0px;
        }

        iframe {
            width: 500px;
        }

        #disenfectGuy {
            width: 500px;
            height: 380px;
        }

       
  }

  @media screen and (max-width:676px){ 
    h1.laH1 {
        font-size: 26px;
        margin-right: 0px;
    }

  }

  @media only screen and (max-width: 769px) {
/* div.container.covid-19-p {
    padding-left: 100px;
    margin-left: 100px;
} */

.h1Hero {
padding-right: 20px;
}
   
    }

  @media screen and (max-width:744px){

    .ulListOther {
        margin-top: ;
        margin-right: 400px;
    }

    .ulList {
        margin-left: 100px;
    }

    #coverageMap {
        width: 600px;
    }

  }



    @media screen and (max-width:620px){
    nav {
        margin-top: -30px;
    }

    a.navItem {
        font-size: 13px;
    }

    h1.laH1 {
        font-size: 28px;
        margin-right: 0px;
    }

    #coverageMap {
        width: 550px;
    }
    }

    @media screen and (max-width:620px){
        h1.laH1 {
            font-size: 28px;
            margin-right: 0px;
            font-size: 22px;
        }

          .covid-services-p {
            margin-left: 100px;
            padding-left: 160px;
        }
    
    .servicesH3 {
            font-size: 32px;
            padding-left: 0px;
            margin-left: 100px;
        }
    
    
        #servicesP {
            font-size: 18px;
            margin-left: 100px;
            padding-left: 0px;
        }
    
    }

    @media screen and (max-width:610px){
        .covid-services-p {
            margin-left: 100px;
            padding-left: 50px;
        }

        .servicesH3 {
            font-size: 22px;
            padding-left: 0px;
            margin-left: 100px;
        }
    
    
        #servicesP {
            font-size: 18px;
            margin-left: 100px;
            padding-left: 0px;
        }
    
    
    }

    @media screen and (max-width:580px){

        .covid-services-p {
            margin-right: 0px;
            margin-left: 0px;
            padding-left: 70px;
        }

        .servicesH3 {
            font-size: 22px;
            padding-left: 0px;
            margin-left: 10px;
        }
    
    
        #servicesP {
            font-size: 18px;
            margin-left: 60px;
            padding-left: 60px;
        }

    } 

    @media screen and (max-width:573px){

        .covid-services-p {
            margin-left: 100px;
            padding-left: 60px;
        }

        .servicesH3 {
            font-size: 22px;
            padding-left: 0px;
            margin-left: 70px;
        }
    
    
        #servicesP {
            font-size: 18px;
            margin-left: 80px;
            padding-left: 0px;
        }


    } 

    @media screen and (max-width:567px){

        nav {
            margin-top: -30px;
        }

        a.navItem {
            font-size: 13px;
        }

        
        h1.display-4 {
            margin-top: 70px;
            margin-right: 5px; 
        }
        
        p#covidP {
            margin-top: 
        }
    
        blockquote {
            margin-top: 
        }
    
        #button {
            margin-top: ;
        }

        #containerMain {
            width: 490px;
            padding-left: 10px;
            padding-bottom: 130px;
            height: 240px;
        }

        #containerServicesOffered {
            width: 490px;

        }

        #infographic {
            width: 499px;
            height: 500px;
        }

       #coverageMap {
        width: 499px;
        height: 300px;
       }

        iframe {
            width: 490px;
        }

        hr {
            width: 390px;
        }

        #disenfectGuy {
            width: 490px;
        }

        #phoneHeader {
        text-align: center;
        }

        h1.laH1 {
            font-size: 20px;
            padding-left: 120px;
        }


        .grid li.small {
            flex-basis: 20%;
        
        }
        
        .grid li.large {
            flex-basis: 20%;
            
        }
        .grid {
            flex-direction: column;
        }

       

        .grid li {
            height: 350px;
            padding: 20px;
            background-clip: content-box;
            background-size: cover;
            background-position: center;
            border: 1px #164c60 solid;
        
        }
        
        ul.grid {
            height: 900px;

    }

ul.grid.facilitiesGrid li.small{
    flex-basis: 25%;

}

ul.grid.facilitiesGrid li.large{
    flex-basis: 25%;

}
    


    .servicesH3 {
        font-size: 22px;
        padding-left: 0px;
        margin-left: 70px;
    }

    @media screen and (max-width:567px){
        .covid-services-p {
            margin-left: 30px;
            padding-left: 60px;
        }

        .servicesH3 {
            font-size: 22px;
            padding-left: 0px;
            margin-left: 70px;
        }

        #containerGeneral {
            width: 374px;
        height: 280px;
        }

    }


    @media screen and (max-width:525px){
        .covid-services-p {
            margin-left: 0px;
            padding-left: 80px;
        }

        .servicesH3 {
            font-size: 22px;
            font-weight: bold;
            padding-left: 0px;
            margin-left: 70px;
        }

        #servicesP {
            margin-right: 20px;
        }


        div.container.covid-19-p {
            margin-left: 0px;
        }

        #containerGeneral {
            width: 499px;
        }

        h1.laH1 {
            padding:  0px  0px  0px  0px;
        }

    }


 
@media only screen and (min-device-width: 320px) 
and (max-device-width: 568px) {

    

    div.container.covid-19-p {
        margin-left: 0px;
        margin-right: 0px;
         padding-left: 160px;
         font-size: 16px;
         width: 375px;
         
    }

   nav {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }
   

    h2.font {
        font-size: 18px;
    }

    h1.display-4.h1Container.h1Hero {
        font-size: 16px;
        padding-left: 10px;
        width: 200px;
        margin-left: 0px;
        margin
    }

    blockquote {
        font-size: 8px;
        padding-left: 5px;
        width: 200px;
        margin-left: 0px;
    }

    p#covidP {
        font-size: 8px;
        padding-left: 0px;
        width: 200px;
        margin-left: 0px;
        margin-bottom: 0px;
        

    }

    button#button {
        font-size: 16px;
       width: 120px;
       height: 90px;
       margin-left: 0px;
       margin-right: 0px;
       
    }
   

    #containerMain {
        width: 300px;
        height: 243px;
    }

    #infographic {
        width: 375px;

    }

    hr {
        width: 300px;
    }

    

    #callNumber {
        font-size: 12px;
        margin-left: 60px;
    }

    .h1.display-4 {
        font-size: 16px;
        padding-right: 32px;
    }

    a.navItem {
        font-size: 7px;
        font-weight: bold;
       
    }

    #disenfectGuy {
        width: 320px;
        height: 200px;
    }

    iframe {
        width: 320px;
    }

    .jumbotronContact{
        margin-top: 0px;
    }

    h2.i {
        font-size: 18px;

    }

    #containerGeneral {
        width: 300px;
        height: 370px;
    }

    div.ulList {
        margin-left: 40px;
    }
    div.ulListOther {
        margin-right: 460px;
       
        
    }

    #coverageMap {
        width: 375px;
    }

}
   

  